*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --base: #1b1b1b;
    --base-100: #122936;
    --base-200: #f7f7f2;
    --light: rgb(246, 246, 247);
    --light-100: rgb(186, 186, 209);
    --light-200: rgb(95, 95, 112);
    
}

body {
    font-family: "Fira Sans Condensed", sans-serif;
    font-style: normal;
    font-size: 20px;
    background-color: var(--base);
    
}

a{
    text-decoration: none;
    color: var(--base-100);
    &:hover {
        text-decoration:  underline;
    }
}

Header{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 1px solid rgba(--base);
    .logo-holder{
        display: flex;
        padding:10px;
        align-items: center;
        font-weight: 600;
        color: var(--base);
        text-decoration: none;
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            background-color: #1b1b1b;
            color: var(--base-200);
            height: 64px;
            width: 64px;
            margin-right: 20px;
            border-radius: 50%;
            @media (max-width: 768px) {
                display: none;
            }
             
        }
        .logo-text{
          flex: 1;
          color: #f7f7f2;
          @media (max-width: 768px) {
            font-size: 26px;
            flex: 1;
            margin-top: 20px;
  
        }

        }
    }
    nav{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            list-style-type: none;
            li{
                display: inline-block;
                a{
                    display: inline-block;
                    padding: 10px 20px;
                    color: #dbe0e4;
                    text-decoration: none;
                    transition: fill 0.3s ease; 
                    &:hover{
                        color: #398ae0;
                        border-radius: 10px;
                        text-decoration:none;
                    }
                }
            }
        }

        .mobile-toogle{
            display:none;
            padding: 20px;
            color: #f7f7f2;
            @media (max-width: 768px) {
                display: inline-block;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        nav{
            margin-top: 10px;
            width: 100%;
            
            ul{
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;
                a {
                    width: 100%;
                }
                &.active{
                    display:flex;
                }
            }
        }
    }
}


section {
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 0px;
    min-width: 0;
    outline: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    will-change: transform;
  }
  
  .button:disabled {
    pointer-events: none;
  }
  
  .button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    text-decoration: none;
  }
  
  .button:active {
    box-shadow: none;
    transform: translateY(0);
  }

.container{
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 1440px) {
       padding-left: 30px ;
       padding-right: 30px;
    }
}

h1 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    small{
        display: block;
        font-weight: 100;
    }
    @media (max-width: 1024px) {
        font-size: 48px;
    }
}

.hero-container{
    
    display: flex;
    @media (max-width:1024px){
        flex-direction: column;
        margin-bottom: 0%;
    }
    .hero-text {
    
        background-color: var(--base);
        color: #f7f7f2;
        border-radius: 5px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 40px;
        .social-btn svg {
            width: 48px; 
            height: 48px;
            fill: #5c5c5c;
            transition: fill 0.3s ease; 
            padding: 1px;
        }
        .social-btn:hover svg {
            fill: #398ae0; 
            text-decoration: none;
        }
    }


}
.logos{
    background-color: var(--base);
    border-radius: 30px;
    padding: 30px 0px;
    @media (max-width:1440px){
        border-radius: 0px;
    }
    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 128px;
        overflow: hidden;
        position: relative;
        .track{
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;
            display: flex;
            gap: 10px;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20%);
    }
}

h2{
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    color: var(--base-200);
    padding: 30px;
    small{
        display: block;
        font-weight: 100;
        font-size: 0.5em;
        color: var(--base-200);
    }
    @media (min-width: 1024px){
        font-size: 48px;
    }
}

h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;

}

.skills {
    .skills-container{
        background-color: #201f1f;
        border-radius: 30px;
        padding: 30px;
        display: flex;
        color: #f7f7f2;
        @media(min-width: 1024px) {
            flex-direction: coloumn;
        }
        .left-column{
          flex: 1;
          ul{
            list-style: none;
            gap: 10px;
            margin-right: 100px;
            margin-bottom: 20px;
            li{
                display: inline-block;
                padding: 10px 20px;
                border-radius: 15px;
                margin-bottom: 10px;
                background-color: blueviolet;
            }
          }
        }
        .right-column{
           flex: 1;
           ul{
            list-style: none;
            gap: 10px;
            margin-right: 100px;
            margin-bottom: 20px;
            li{
                display: inline-block;
                padding: 10px 20px;
                border-radius: 15px;
                margin-bottom: 10px;
                background-color: rgb(84, 17, 148);
            }
          }
        }
    }
}

.bento{

    .bento-grid{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        @media(max-width: 1024px){
            grid-template-rows:  repeat(8, 1fr);

        }
        @media(max-width: 768px){
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: auto;
        }
        .bento-item{
            padding: 30px;
            background-color: rgb(46, 38, 54);
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            img{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                object-fit: cover;
                transition: ease 3s all;
            }
            &:hover {
                img {
                    transform: scale(1.2);
                }
            }

            @media(max-width: 768px){
                height: 240px;
            }
            &:nth-child(1){
                grid-column: span 2;
                grid-row: span 2;
                @media(max-width: 1024px){
                    grid-column: span 2;
                    grid-row: span 1;
                    
                }
            }
            &:nth-child(2){
                grid-column: span 2;
                grid-row: span 11;
                @media(max-width: 1024px){
                    grid-column: span 3;
                    grid-row: span 2;
                    
                }
            }
            &:nth-child(3){
                grid-column: span 1;
                grid-row: span 11;
                @media(max-width: 1024px){
                    grid-column: span 3;
                    grid-row: span 2;
                    
                }
            }
            &:nth-child(4){
                grid-column: span 2;
                grid-row: span 9;
                @media(max-width: 1024px){
                    grid-column: span 2;
                    grid-row: span 4;
                    
                }
            }
            &:nth-child(5){
                grid-column: span 5;
                grid-row: span 7;
                @media(max-width: 1024px){
                    grid-column: span 3;
                    grid-row: span 2;
                    
                }
            }


        }
    }
}