*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --base: #1b1b1b;
    --base-100: #122936;
    --base-200: #f7f7f2;
    --light: rgb(246, 246, 247);
    --light-100: rgb(186, 186, 209);
    --light-200: rgb(95, 95, 112);
    
}

body {
    font-family: "Fira Sans Condensed", sans-serif;
    font-style: normal;
    font-size: 20px;
    background-color: var(--base-200);
    
}

a{
    text-decoration: none;
    color: var(--base-100);
    &:hover {
        text-decoration:  underline;
    }
}

Header{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 1px solid rgba(--light-100);
    .logo-holder{
        display: flex;
        padding:10px;
        align-items: center;
        font-weight: 600;
        color: var(--base);
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            background-color: #1b1b1b;
            color: var(--base-200);
            height: 64px;
            width: 64px;
            margin-right: 20px;
            border-radius: 50%;
             
        }
        .logo-text{
          flex: 1;
        }
    }
    nav{
        display: flex;
        ul{
            display: flex;
            list-style-type: none;
            li{
                display: inline-block;
                a{
                    display: inline-block;
                    padding: 10px 20px;
                    color: #122936;
                    &:hover{
                        background: #122936;
                        color: var(--base-200);
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}